<html>
    <head>
	    <title>Python</title>
	</head>
	<body>
	    <div>
		    <h1>Python tutorials for problem solving</h1>
		</div>
		<div>
		    <h2>Intro to Python<h2>
			<p>Python is an interpreted, high-level, general-purpose programming language. 
			Created by Guido van Rossum and first released in 1991, 
			Python's design philosophy emphasizes code readability 
			with its notable use of significant whitespace. 
			Its language constructs and object-oriented approach 
			aims to help programmers write clear, logical code 
			for small and large-scale projects.</p>
			<p>published 09.05.2019</p>
		</div>
		<div>
		    <h3>Sources for Biginners:</h3>
			<p><a href = "https://www.souravsengupta.com/cds2015/python/LPTHW.pdf">Learn python the hard way</a></p>
			<p><a href = "https://www.w3schools.com/python/">W3 Schools</a></p>
			<p>published 09.05.2019</p>
		</div>
	</body>
</html>