<html>
    <head>
	    <title>Python</title>
	    <style>
	    	body{
	    		background-image: url("http://images6.fanpop.com/image/photos/35100000/Python-programming-35141649-1680-1050.jpg");
	    	}
	    </style>
	</head>
	<body>
		<!-- Google font-->
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	    <div style="text-align: center; color: white; margin: 30px">
		    <h1 style="font-size: 40px">Python tutorials for problem solving</h1>
		</div>
		<div style="margin: 40px; text-align: center; color: white">
		    <h2 style="text-align: center;">Intro to Python<h2>
		    <img src="https://files.realpython.com/media/python-logo.8eb72ea6927b.png" height="100" width="100">
			<p style="font-family: 'Indie Flower', cursive; border: solid; border-color: white; padding: 20px">Python is an interpreted, high-level, general-purpose programming language. 
			Created by Guido van Rossum and first released in 1991, 
			Python's design philosophy emphasizes code readability 
			with its notable use of significant whitespace. 
			Its language constructs and object-oriented approach 
			aims to help programmers write clear, logical code 
			for small and large-scale projects.</p>
			<p style="text-align: center;">published 09.05.2019</p>
		</div>
		<div style="text-align: center; color: white">
		    <h3>Sources for Biginners:</h3>
		    <a href = "https://www.souravsengupta.com/cds2015/python/LPTHW.pdf" style="color: white">Learn python the hard way</a><br>
		    <a href = "https://www.w3schools.com/python/" target = "_blank" style="color: white">W3 Schools</a>
			<p>published 09.05.2019</p>
		</div>
		
		<div style="color: white; margin: 40px">
			<h2 style="font-size: 30px"><u>Applications of Python:</u></h2>
			<ol style="font-size: 30px">
				<li>Web Applications</li>
				<li>Graphic user interface based applications</li>
				<li>Software development application</li>
				<li>Scientific and numeric applications</li>
				<li>Network programming</li>
			</ol>
		</div>
	</body>
</html>